* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus,
  :active {
    outline: none;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a,
  a:visited {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }
  
  /* обнуление стилей  */
  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .wrapper {
    min-height: 100%;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    background-color: rgb(68, 57, 43);
}
.header {
    grid-area: header;
    padding: 15px;
    background-color: rgb(211, 116, 78);
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    align-items: center;
}
.header__logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: aliceblue;
    grid-column: 2 / 3;
}
.header__menu {
    grid-column: 3 / 4;
}
.header__list {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
}
.header__list li {
    margin: 0px 0px 30px 0px;
}
.header__link {
    color: aliceblue;
    font-size: 18px;
}
.header__burger {
}
@media (max-width: 992px) {
    .header__list {
        display: none;
    }
}
.main {
    padding: 30px 15px;
}

.sidebar {
    background-color: rgb(75, 116, 75);
    padding: 15px;
    margin: 0px 0px 30px 0px;
}
.sidebar__menu {
}
.sidebar__list {
}
.sidebar__list li {
    padding: 0px 0px 15px 0px;
}
.sidebar__link {
    color: aliceblue;
    font-size: 20px;
}
.content {

}
.content__title {
    color: aliceblue;
    font-size: 34px;
    padding-bottom: 30px;
}
.content__gallery {
}
@media (min-width: 992px) {
    .main {
        grid-area: main;
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    }
    .sidebar {
        grid-column: 2 / 3;
        margin: 0;
    }
    .content {
        grid-column: 3 / 4;
        padding: 0px 0px 0px 30px;
    }
}
.gallery {
    padding: 0px 0px 30px 0px;
}
.gallery__title {
    color: aliceblue;
    font-size: 20px;
    padding-bottom: 20px;
}
.gallery__items {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.gallery__item {
    position: relative;
    padding: 0px 0px 85% 0px;
}
.gallery__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item_big {
    grid-column: span 2;
    grid-row: span 2;
}
@media (min-width: 767px) {
    .gallery__item_big {
        grid-column: span 2;
        grid-row: span 2;
    }
}
.content__products {
}
.products {
}
.products__title {
    color: aliceblue;
    font-size: 34px;
    padding-bottom: 30px;
}
.products__items {
    display: grid;
    column-gap: 30px;
    row-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
}
.products__item {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr minmax(40px, auto) / 1 fr;
}
.products__image {
    position: relative;
    padding: 0px 0px 90% 0px;
    margin: 0px 0px 20px 0px;
}
.products__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.products__name {
    color: whitesmoke;
    font-size: 24px;
    line-height: 30px;
    margin: 0px 0px 30px 0px;
}
.products__button {
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 40px;
    justify-self: start;
    background-color: #77608d;
    padding: 0px 20px;
}
.footer {
    grid-area: footer;
    padding: 30px 15px;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    background-color: rgb(46, 30, 15);
    align-items: center;
}
.footer__copy {
    grid-column: 2 / 3;
    color: whitesmoke;
    font-size: 20px;
    line-height: 24px;
    margin: 0px 0px 30px 0px;
}
.footer__text {
    grid-column: 3 / 4;
    color: whitesmoke;
    font-size: 20px;
    line-height: 24px;
    text-align: end;
    margin: 0px 0px 30px 0px;
}